@font-face {
    font-family: 'RobotoLight';
    src: url('../assets/fonts/Roboto-Thin-webfont.woff');
}

@keyframes myfadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes myfadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    text-align: right;
}

.animate-in {
    opacity: 1;
    animation: myfadeInAnimation 2s ease-in;
}


h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: Roboto;
}

.navbar {
    background: transparent;
    transition: ease-out .5s;
}


.nav-link,
.navbar-brand {
    color: #cecece;
    font-size: 2vh;
    cursor: pointer;
    transition: ease-out .2s;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-brand {
    margin-left: 2em !important;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #dddddd;
    font-size: 3vh;
}



.navbar-brand.block:hover {
    color: hsl(160, 22%, 56%);
    transition: all 0.5s ease;
    font-size: 3.5vh;
}

.nav-link.block:hover {
    color: hsl(0, 0%, 0%);
    transition: all 0.5s ease;
    font-size: 3.5vh;
}




/*  Trigger when offset is equal to landingpage text */
.navbar.block {
    background: white !important;
    transition: ease-out .5s;
}
.navbar-brand.block {
    transition: ease-out .5s;
    color: rgb(219, 219, 219) !important;
    font-size: 3vh;
}
.nav-link.block {
    transition: ease-out .5s;
    color: rgb(219, 219, 219) !important;
    font-size: 3vh;
}




.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: rgb(235, 235, 235) !important;
}


/*header style*/
.header {
    position: relative;
    background-image: url('../assets/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    background: rgba(81, 82, 88, 0.79);
}



.description {
    position: absolute;
    margin-top: 42vh;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(255, 255, 255);
    
}

.description h1 {
    font-family: 'RobotoLight';
    font-size: 7.5vw;
    transition: all 1s ease-in-out;
}

.description p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2vh;
}





/*  Footer Area */
.about {
    position: relative;
    margin-top: 20vh;
    height: 80vh;
}

.about img {
    max-width: 23vh;
    border-radius: 100%;
}

.about .desc h3 {
    position: relative;
    color: rgb(83, 83, 83);
    font-size: 6vh;
    transition: all 1s ease;
}

.about .desc p {
line-height: 2.5;
    font-size: 1.5vh;
    margin-left: 3vw;
    color: rgb(99, 99, 99);
}


.socialmedia-buttons {
    margin-top: 8em;
}

.socialmedia-buttons a {
    color: #70726F;
    font-size: 3vh;
    padding: 15px;
    transition: all .5s ease;
}

.socialmedia-buttons a:hover {
    color: rgb(48, 175, 133);
}

.copyright p {
    position: relative;
    color: gray;
    font-size: 1.5vh;
    margin-top: 1em;
}




/*Portfolio*/
.portfolio {
    margin-top: 10em;
}


.portfolio img {
    position: relative;
    height: 100%;
    width: 100vw;
}
