@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf');
}
html {
    overflow-x: hidden;
}
body {
    text-align: left;
    background-color: var(--default-theme);
}
.animate-in {
    background-color: var(--default-theme);
    -webkit-animation: fadeIn .4s ease-in;
    animation: fadeIn .4s ease-in;
}
.animate-out {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* VARS SECTION ---------------------------------------------*/
:root {
    --default-theme: rgb(237, 237, 237);
    --default-margin: 0px;
    --default-textcolor: #7c849c;
    --default-textonhover: rgba(0, 0, 0, 1);
    --default-shadowcolor: rgba(90, 91, 94, 0.1);
    --about-paragraphy-one: 350px;
};

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: Quicksand;
}
ul {
    list-style-type: none;
    padding: 0;
}
.base {
    display: flex;
}
.title {
    font-size: 2.2em;
    font-weight: 500;
    font-family: Quicksand;
    margin: 150px 0 50px 0;
}
/** GALLERY COMPONENT */
.portfolio {
    display: flex; 
    padding: 2px;
    transition: .3s;
    margin-bottom: 100px;
  }
.portfolio .column {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.portfolio .column img {
    display: block;
    width: 100%;
    transition: .3s;
}
.portfolio .column img:hover {
    transform: scale(1.1);
}
.portfolio .column .link .thumb img:hover ~ .caption {
    opacity: 1;
}
.portfolio .column .link {
    margin: 1px;
    overflow: hidden;
}
.portfolio .column .link .thumb {
    position: relative;
    margin: 5px;
}
.portfolio .column .link .thumb .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    font-family: Quicksand;
    width: 100%;
    color: white;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}
.portfolio .column .link .thumb .caption:hover {
    opacity: 1;
}
.portfolio .column .link .thumb .caption:hover ~ img{
    transform: scale(1.1);
}

/* SIDEBAR SECTION ---------------------------------------------*/
.base .content {
    position: absolute;
    left: 30%;
}
.base .nav {
    z-index: 20;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 800px;
    margin: 0 0 50px 0;
}
.base .nav li {
    display: block;
    text-align: right;
    padding: 15px 90px 15px 0;
}
.base .nav li a {
    font-size: 25px;
    font-weight: 300;
    text-align: right;
    font-family: Quicksand;
    color: #a6a6a6;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
}
.base .nav li a:hover,
.base .nav li.current-menu-item a {
    font-weight: 700;
    color: var(--default-textonhover);
}
.base .nav li img {
    width: 25%;
}
.base .nav .copyright {
    color: var(--default-textcolor);
    font-size: 13px;
    font-weight: 400;
    padding-top: 0;
}
.base .nav .kofi-button {
    padding-top: 50px;
}
.base .nav .kofi-button img {
    width: 140px;
}

/* ---------------------------------------------
    RIGHT FLOATING SOCIAL BUTTONS
------------------------------------------------*/
.floating-social-buttons {
    z-index: 2;
    position: fixed;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}
.floating-social-buttons li {
    margin: 20px 30px 20px 0;
}
.floating-social-buttons li a {
    justify-content: center;
}
.floating-social-buttons li i {
    background: var(--default-theme);
    color: var(--default-textcolor);
    box-shadow: 3px 3px 10px #c6ccd2,
                -3px -3px 10px #ffffff;
    border-radius: 3em;
    width: 2em;
    padding: 0.5em;
    transition: all .2s ease-in-out;
}
.floating-social-buttons li i:hover {
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transition: transform 250ms cubic-bezier(0.01, 0.02, 0.53, 2.02);
    color: black;
    box-shadow: 1px 1px 3px #c6ccd2,
                -1px -1px 3px #4e4c4c;
}
.floating-social-buttons li i:active {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    transition: all 250ms cubic-bezier(0.01, 0.02, 0.53, 2.02);
    box-shadow: inset 3px 3px 10px #c9cbcd, 
                inset -3px -3px 10px #ffffff;      
}
.base .mobile-nav {
    z-index: 5;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-color: var(--default-theme);
    width: 100vw;
    height: 100px;
    display: none;
}
.base .drawer {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 15;
    background-color: var(--default-theme);
    width: 100vw;
    position: fixed;
    top: 100px;
    height: 500px;
}
.base .drawer li {
    font-family: Quicksand;
    font-size: 2em;
    font-weight: 500;
    color: var(--default-textcolor);
    margin: 10px 0;
}
.base .drawer li a {
    color: inherit;
    text-decoration: none;
}
.base .drawer .kofi-button {
    margin-top: 75px;
}
.base .drawer .copyright {
    font-size: 1.25em;
}
.base .drawer .current-menu-item {
    color: var(--default-textonhover);
    font-weight: 900;
}

/* ---------------------------------------------
    About Section
------------------------------------------------*/
.about {
    margin-left: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
.about .upper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    margin: 25px;
}
.about .upper h1,
.about p {
    font-family: Quicksand;
}
.about .upper h1 {
    font-weight: 900;
    padding-left: 25px;
    color: var(--default-textonhover);
}


/* MOBILE/TABLET ---------------------------------------------*/
@media screen and (max-width: 1120px) {
    .base .mobile-nav {
        display: inherit;
    }
    .base .mobile-nav .menu {
        cursor: pointer;
        z-index: 10;
        margin-left: auto;
    }
    .base .nav,
    .floating-social-buttons {
        display: none;
    }
    .base .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
    }
    .base .content .title {
        padding: 0 50px;
    }
    .portfolio {
        justify-content: center;
        flex-direction: column;
    }
    .portfolio .column {
        min-width: 100vw;
    }
    .kofi-button img {
        width: 200px;
        height: 50px;
    }
    .about {
        margin: 200px 0;
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
    .about .contents  {
        width: 100%;
        margin-top: 50px;
        line-height: 2em;
    }
    .about .upper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .upper h1 {
        margin-top: 15px;
    }
    .social-profiles-about {
        margin: 50px;
    }
    .social-profiles-about li {
        padding: 5px;
    }
}
@media screen and (min-width: 1121px) {
    .base .mobile-nav {
        display: none;
    }
    .base .drawer {
        display: none;
    }
}

/* DEFAULT ABOUT SECTION ---------------------------------------------*/

.about .upper img {
    max-width: 120px;
    border-radius: 100%;
    display: block;
    box-shadow:  20px 20px 40px #c5cace, 
                 -20px -20px 40px #ffffff;
    padding: 7px;
    background-color: var(--default-theme);
}
.about .email {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
    transition: all 0.2s;
}

.about .contents {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
    font-weight: 400;
    text-align: left;
    max-width: 600px;
}
.about .copyright-about {
    display: flex;
    justify-content: center;
    font-size: 1em;
    color: var(--default-textcolor);
    margin-top: 2em;
}

/* ---------------------------------------------
   ABOUT PAGE - SOCIAL BUTTONS
------------------------------------------------*/
.about .social-profiles-about {
    display: flex;
    font-size: 1em;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}
.about .social-profiles-about li a {
    padding: 15px;
}
.about .social-profiles-about li i {
    border: 1px #c9cbcd solid;
    background: var(--default-theme);
    box-shadow: 3px 3px 10px #c6ccd2,
                -3px -3px 10px #ffffff;
    border-radius: 3em;
    color: var(--default-textcolor);
    width: 2em;
    padding: 0.5em;
    transition: all .2s ease-in-out;
}
.about .social-profiles-about li i:hover {
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    transition: transform 250ms cubic-bezier(0.01, 0.02, 0.53, 2.02);
    color: black;
    box-shadow: 1px 1px 3px #c9cbcd, 
                -1px -1px 3px #ffffff;

}
.about .social-profiles-about li i:active {
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    transition: all 250ms cubic-bezier(0.01, 0.02, 0.53, 2.02);
    box-shadow: inset 3px 3px 10px #c9cbcd, 
                inset -3px -3px 10px #ffffff;
}


