@font-face {
    font-family: 'RobotoLight';
    src: url('/assets/fonts/Roboto-Thin-webfont.woff');
}


.header-parts .topnav > * {
    font-family: 'RobotoLight';
    font-size: 20px;
}

.main-name {
    font-family: 'RobotoLight';
    font-size: 55px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 200px;
}


.name-title {
    font-family: 'RobotoLight';
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
}


/*  White Box */
.wrapper {
    position: relative;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 320px;
}

 .avatar {
    width: 220px;
    height: 220px;
    position: relative;
    left: -100px;
    top: -100px;
    border-radius: 100%;
}

.contacts-area > * {
    background-size: cover;
    text-align: center;
}

.contacts-area .wrapper .text-content > * {
    right: 200px;
}

.hello-intro {
    font-family: 'RobotoLight';
    font-size: 85px;
    position: relative;
    left: 100px;
    top: 160px;
    color: rgb(0, 0, 0);
}

.bio {
    position: relative;
    font-family: 'RobotoLight';
    font-size: 20px;
    left: 250px;
    top: 100px;
    color: rgb(53, 53, 53);
}


.fa {
    align-content: center;
    width: 30px;
    text-decoration: none;
    color: rgb(114, 114, 114);
  }

  

.copyright {
    font-family: 'RobotoLight';
    font-size: 20px;
    color: black;
    text-align: center;
    background-size: cover;
}


.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0);
}


/* Navbar links */
.topnav a {
    float: right;
    display: block;
    color: #ffffff;
    padding: 24px 16px;
    text-decoration: none;
    font-family: Roboto;
}


/* Links - change color on hover */
.topnav a:hover {
    background-color: rgb(201, 106, 62);
    color: white;
}



html, body {
    background-image: url('/assets/bg1.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: rgb(233, 233, 233);
    margin: 0;
    overflow-x: hidden;
}

body, .smooth-container { scroll-behavior: smooth }