@font-face {
    font-family: 'RobotoLight';
    src: url('/assets/fonts/Roboto-Thin-webfont.woff');
}


.main-name {
    font-family: 'RobotoLight';
    font-size: 85px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 200px;
}


.name-title {
    font-family: 'RobotoLight';
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 5px;
}


.wrapper {
    background-color: #ffffff;
    margin-top: 110px;
    padding: 360px;
}


.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0);
}


/* Navbar links */
.topnav a {
    float: right;
    display: block;
    color: #ffffff;
    padding: 24px 16px;
    text-decoration: none;
    font-family: Roboto;
}


/* Links - change color on hover */
.topnav a:hover {
    background-color: rgb(201, 106, 62);
    color: white;
}

.avatar {
    width: 250px;
    height: 250px;
    position: relative;
    top: 500px;
    left: 100px;
    border-radius: 50%;
}


body {
    background-image: url('/assets/closeup_library.png');
    background-attachment: fixed;
    background-color: rgb(233, 233, 233);
    max-width: 100%;
    margin: 0;
}